In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

from datetime import datetime, date
plt.style.use("ggplot")

In [3]:
#loading address data
cad = pd.read_excel("/content/Raw_data.xlsx", sheet_name = "CustomerAddress")
cad.head()

,customer_id,address,postcode,state,country,property_valuation
0,1,060 Morning Avenue,2016,New South Wales,Australia,10
1,2,6 Meadow Vale Court,2153,New South Wales,Australia,10
2,4,0 Holy Cross Court,4211,QLD,Australia,9
3,5,17979 Del Mar Point,2448,New South Wales,Australia,4
4,6,9 Oakridge Court,3216,VIC,Australia,9

In [4]:
cad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3999 entries, 0 to 3998
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         3999 non-null   int64
 1   address             3999 non-null   object
 2   postcode            3999 non-null   int64
 3   state               3999 non-null   object
 4   country             3999 non-null   object
 5   property_valuation  3999 non-null   int64
dtypes: int64(3), object(3)
memory usage: 187.6+ KB

In [5]:
cad.shape

(3999, 6)

In [6]:
#bifurcating into numerical and categorical column
num_cols = cad.select_dtypes(include = "number")
print("Numerical columns are: ", num_cols.columns.values)
print("\n")
cat_cols = cad.select_dtypes(exclude = "number")
print("Categorical columns are: ", cat_cols.columns.values)

Numerical columns are:  ['customer_id' 'postcode' 'property_valuation']


Categorical columns are:  ['address' 'state' 'country']

In [7]:
#checking missing values
cad.isnull().sum()

customer_id           0
address               0
postcode              0
state                 0
country               0
property_valuation    0
dtype: int64

In [ ]:
#seems like no missing value is here

In [9]:
#checking for data incosistency for columns - state, country
cad["state"].value_counts()

NSW                2054
VIC                 939
QLD                 838
New South Wales      86
Victoria             82
Name: state, dtype: int64

In [10]:
#this data neads replacement as both New South Wales and NSW are here. Need to replace the full form with short form

def state_name_replace(state):
  if state == "New South Wales":
    return "NSW"
  elif state == "Victoria":
    return "VIC"
  else:
    return state

#applying function
cad["state"] = cad["state"].apply(state_name_replace)

In [11]:
cad["state"].value_counts()

NSW    2140
VIC    1021
QLD     838
Name: state, dtype: int64

In [12]:
cad["country"].value_counts()

Australia    3999
Name: country, dtype: int64

In [15]:
#Let's check for duplicated now
cad.duplicated().sum()

0

In [17]:
cad[cad.duplicated()]

Empty DataFrame
Columns: [customer_id, address, postcode, state, country, property_valuation]
Index: []

In [ ]:
#Hence, no duplicated value as well

In [18]:
cad.to_csv("Customer_Address.csv", index = False)